$primary_font_family:'Madina';
$extra_small_font_size:10px;
$small_font_size:12px;
$medium_small_font_size:14px;
$button_font_size:20px;
$medium_font_size:25px;
$medium_big_font_size:30px;
$big_font_size:35px;
$responsive_title_size:45px;
$very_big_font_size:65px;
$primary_color:#231744;
$green_color:#00973D;
